{% extends 'settings/layout.html.twig' %}

{% block content_column %}
  <div class="box">
    <h3 class="box__header">プロフィール</h3>
    <div class="box__body">
      <form action="{{ path_for('settings_profile') }}" method="post">
        <table class="table">
          <tbody>
          <tr>
            <td><label class="col-form-label">表示名</label></td>
            <td><input name="name" value="{{ user.name }}" class="form-control"></td>
          </tr>
          <tr>
            <td>ロール</td>
            <td>
              {% for role in user.roles %}
                {% if role == 'ADMIN' %}
                  <a href="{{ path_for('admin') }}">{{ role }}</a>
                {% else %}
                  {{ role }}
                {% endif %}
                <br>
              {% endfor %}
            </td>
          </tr>
          </tbody>
        </table>
        <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
        <button type="submit" name="_METHOD" value="PUT" class="btn btn-primary">更新</button>
      </form>
    </div>
  </div>
  <div class="box">
    <h3 class="box__header">ソーシャルログイン</h3>
    <div class="box__body">
      <table class="table">
        <thead>
        <tr>
          <th>プロバイダ</th>
          <th>ユーザー名</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        {% for provider in providers %}
          <tr>
            <td>{{ provider.name }}</td>
            <td>{{ user.user_providers[provider.id].name }}</td>
            <td>
              {% if user.user_providers[provider.id] %}
                <form action="{{ path_for('settings_social_login', {'provider_id': provider.id}) }}"
                      method="post">
                  <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
                  <button type="submit" name="_METHOD" value="DELETE"
                          class="btn btn-sm btn-warning">解除する
                  </button>
                </form>
              {% else %}
                <a href="{{ path_for(provider.enable_path, {}, {'rd': current_url}) }}"
                   class="btn btn-sm btn-success">連携する</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
