{% extends 'layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col">
      {% if flash %}<p class="alert alert-warning">{{ flash }}</p>{% endif %}
      {% if user %}
        <div class="box">
          <h3 class="box__header">アカウント</h3>
          <div class="box__body">
            <form action="{{ path_for('home_user_update') }}" method="post">
              <table class="table">
                <tbody>
                <tr>
                  <th><label class="col-form-label">表示名</label></th>
                  <td><input name="name" value="{{ user.name }}" class="form-control"></td>
                </tr>
                <tr>
                  <th>ロール</th>
                  <td>
                    {% for role in user.roles %}
                      {% if role == 'ADMIN' %}
                        <a href="{{ path_for('admin') }}">{{ role }}</a>
                      {% else %}
                        {{ role }}
                      {% endif %}
                      <br>
                    {% endfor %}
                  </td>
                </tr>
                </tbody>
              </table>
              <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
              <button type="submit" class="btn btn-primary">更新</button>
            </form>
          </div>
        </div>
        <div class="box">
          <h3 class="box__header">ソーシャルログイン</h3>
          <div class="box__body">
            <ul>
              {% for provider in user.providers %}
                <li>{{ provider }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="box">
          <h3 class="box__header">アカウント削除</h3>
          <div class="box__body">
            <a href="{{ path_for('settings_account') }}">アカウントを削除する</a>
          </div>
        </div>
      {% else %}
        <div class="box">
          <h3 class="box__header">ソーシャルログイン</h3>
          <div class="box__body">
            <div class="list-group my-list-group">
              <a href="{{ path_for('login') }}"
                 class="list-group-item list-group-item-action">GitHub</a>
              <a href="{{ path_for('oauth_google') }}"
                 class="list-group-item list-group-item-action">Google</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
