<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>php-auth</title>
</head>
<body>
{% if user %}
    <ul>
        <li>{{ user.name }}</li>
        <li>メニュー
            <ul>
                <li><a href="{{ path_for('logout', {}, {rd: base_url()}) }}">ログアウト</a></li>
                {% if 'ADMIN' in user.roles %}
                    <li><a href="{{ path_for('admin') }}">管理画面</a></li>{% endif %}
            </ul>
        </li>
    </ul>
{% else %}
{% endif %}
<ul>
    <li>OAuth Providers
        <ul>
            <li>{% if 1 in user.provider_ids %}GitHub{% else %}<a href="{{ path_for('login', {}, {rd: base_url()}) }}">
                        GitHub</a>{% endif %}</li>
            <li>{% if 2 in user.provider_ids %}Google{% else %}<a
                    href="{{ path_for('oauth_google', {}, {rd: base_url()}) }}">Google</a>{% endif %}</li>
        </ul>
    </li>
</ul>
<ul>
    <li>Roles
        <ul>
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>

</body>
</html>


