<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>php-auth</title>
</head>
<body>
{% if name is null %}
    <ul>
        <li>OAuth Providers</li>
        <li>
            <ul>
                <li><a href="{{ path_for('login', {}, {rd: base_url()}) }}">GitHub</a></li>
                <li><a href="{{ path_for('oauth_google', {}, {rd: base_url()}) }}">Google</a></li>
            </ul>
        </li>
    </ul>
{% else %}
    <a href="{{ path_for('logout', {}, {rd: base_url()}) }}">ログアウト</a> | Hello, {{ name }}
{% endif %}

<ul>
    {% for role in roles %}
        <li>{{ role }}</li>
    {% endfor %}
</ul>

<pre>{{ dump(session) }}</pre>
</body>
</html>


