<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理ページ - {{ app.title }}</title>
    <link href="/dist/style.css" rel="stylesheet" type="text/css">
    <style>
        [role="main"] {
            padding-top: 56px; /* Space for fixed navbar */
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path_for('admin') }}">{{ app.title }}</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('users') }}">ユーザー</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('home') }}">アプリホーム</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="/dist/bundle.js"></script>
</body>
</html>
