{% extends 'admin/base.html.twig' %}

{% block content %}
    <table border="1">
        <thead>
        <tr>
            <th>user_id</th>
            <th>login</th>
            <th>name</th>
            <th>created_at</th>
            <th>ROLES</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td><a href="{{ path_for('user', u) }}">{{ u.user_id }}</a></td>
                <td>{{ u.login }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.created_at }}</td>
                <td>{{ u.roles }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
